<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <form method="POST">

              <div class="field">
                <label class="label">Team Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="teamname" placeholder="Username">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Team Leader's Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="name1">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>


              <div class="field">
                <label class="label">Contact Number</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="phone1">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Institution</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="inst1">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Email Address</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="email"">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>


               <div class="field">
                <label class="label">Third Member's Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="name2">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>


              <div class="field">
                <label class="label">Contact Number</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="phone2">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Institution</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="inst2">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

                <div class="field">
                <label class="label">Third Member's Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="name3">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>


              <div class="field">
                <label class="label">Contact Number</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="phone3">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Institution</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="inst3">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

               <div class="field">
                <label class="label">Fourth Member's Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="name4">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>


              <div class="field">
                <label class="label">Contact Number</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="phone4">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Institution</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input"  type="text" name="inst4">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

               <div class="field">
                <label class="label">Fifth Member's Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="name5">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>


              <div class="field">
                <label class="label">Contact Number</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="phone5">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Institution</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="inst5">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>


              <div class="field">
                <label class="label">Password</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" name="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="label">Confirm Password</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" name="re-password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button type="submit" class="button is-success">
                    Register
                  </button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>